{% extends 'admin/adminbase.html' %}
{% block content %}



    
    <div class="w-10/12">
        <div class="flex-1 p-10">
            <h1 class="text-3xl font-semibold text-slate-800 mb-8">Dashboard Overview</h1>

        
            <div class="grid grid-cols-5 gap-5 justify-items-center">

                <div class="bg-green-300 text-black w-40 h-40 rounded-full flex flex-col items-center justify-center shadow-lg">
                    <h2 class="text-xl font-bold">Total tickets</h2>
                    <p class="text-sm mt-1">{{count.tickets}}</p>
                </div>

                <div class="bg-pink-300 text-black w-40 h-40 rounded-full flex flex-col items-center justify-center shadow-lg">
                    <h2 class="text-xl font-bold">Total user</h2>
                    <p class="text-sm mt-1">{{count.users}}</p>
                </div>

                <div class="bg-yellow-300 text-black w-40 h-40 rounded-full flex flex-col items-center justify-center shadow-lg">
                    <h2 class="text-xl font-bold">Total reply</h2>
                    <p class="text-sm mt-1">{{count.reply}}</p>
                </div>

                <div class="bg-blue-300 text-black w-40 h-40 rounded-full flex flex-col items-center justify-center shadow-lg">
                    <h2 class="text-xl font-bold text-center">Total agents</h2>
                    <p class="text-sm mt-1">{{count.agents}}</p>
                </div>

                <div class="bg-purple-300 text-black w-40 h-40 rounded-full flex flex-col items-center justify-center shadow-lg">
                    <h2 class="text-xl font-bold text-center">Total resolved tickets</h2>
                    <p class="text-sm mt-1">{{count.resolved_tickets}}</p>
                </div>

            
            </div>
    </div>

        <div class="grid grid-cols-2 gap-5 p-10">
            <div class="flex-1 mt-[45px]">
                <h2 class="text-2xl font-bold mb-5">Recent Activities</h2>
                <ul class="list-disc list-inside">
                    <li>User JohnDoe created a new ticket.</li>
                    <li>Agent JaneSmith resolved ticket #1234.</li>
                    <li>New user MikeBrown registered.</li>
                    <li>Report for last month generated.</li>
                </ul>
            </div>
            <div class="flex-1">
                <div class="bg-white p-5 m-5 rounded-lg ">
                    <h2 class="text-2xl font-bold mb-5">Recent Open Tickets</h2>
                    <table class="min-w-full">
                        <thead>
                            <tr>
                                <th class="py-2 px-4 border-b">Ticket ID</th>
                                <th class="py-2 px-4 border-b">Subject</th>
                                <th class="py-2 px-4 border-b">STatus</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="py-2 px-4 border-b">#1234</td>
                                <td class="py-2 px-4 border-b">Issue with login</td>
                                <td class="py-2 px-4 border-b">Open</td>
                            </tr>
                            <tr>
                                <td class="py-2 px-4 border-b">#1235</td>
                                <td class="py-2 px-4 border-b">Error on dashboard</td>
                                <td class="py-2 px-4 border-b">Open</td>
                            </tr>
                            <tr>
                                <td class="py-2 px-4 border-b">#1236</td>
                                <td class="py-2 px-4 border-b">Payment not processed</td>
                                <td class="py-2 px-4 border-b">Open</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


</div>

    





{% endblock %}
