
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

<div class="flex w-full mt-6 justify-evenly">
    <div class="w-3/12">
        <div class="px-[10%] py-6 ">
            <h2 class="text-3xl font-semibold mb-6">Raise a New Ticket <i class="fa-solid fa-arrow-down"></i></h2>

            <form action="" enctype="multipart/form-data" method="POST" class="bg-white p-6 rounded-lg shadow-md space-y-4 border border-gray-600">
                {% csrf_token %}
                <div>
                    <label for="title" class="block text-gray-700 font-semibold mb-2">Title</label>
                    <input type="text" id="title" name="title" required class="w-full border border-gray-300 bg-gray-200 p-2 rounded">
                </div>

                <div>
                    <label for="description" class="block text-gray-700 font-semibold mb-2">Description</label>
                    <textarea id="description" name="description" rows="5" required class="w-full border border-gray-300 bg-gray-200 p-2 rounded"></textarea>
                </div>

                <div>
                    <label for="attachments" class="block text-gray-700 font-semibold mb-2">Attachments</label>
                    <input type="file" id="attachments" name="attachments" multiple class="w-full border border-gray-300 bg-gray-200 p-2 rounded">
                </div>

                
                <div>
                    <button type="submit" class="bg-gray-600 text-white px-4 py-2 rounded hover:bg-gray-700">Submit Ticket</button>
                </div>
            </form>
        </div>
    </div>

  



    <div class="w-8/12">
        <div>
            <h3 class="text-3xl font-semibold mb-4 mt-6 text-center text-gray-700">My Tickets</h3>
            <table class="min-w-full bg-white border border-gray-300">
                <thead>
                    <tr class="border-gray-300 bg-gray-200">
                        <th class="Px-4 py-2 border border-gray-300">ID</th>
                        <th class="Px-4 py-2 border border-gray-300">Title</th>
                        <th class="Px-4 py-2 border border-gray-300">Status</th>
                        <th class="Px-4 py-2 border border-gray-300">Created on</th>
                        <th class="Px-4 py-2 border border-gray-300">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in myticket %}
                    <tr class="bg-gray-100">
                        <td class="px-4 py-2 border border-gray-300">{{forloop.counter}}</td>
                        <td class="px-4 py-2 border border-gray-300">{{ticket.title}}</td>
                        <td class="px-4 py-2 border border-gray-300">{{ticket.status}}</td>
                        <td class="px-4 py-2 border border-gray-300">{{ticket.created_at}}</td>
                        <td class="px-4 py-2 border border-gray-300">
                            {% if ticket.status != 'closed' %}
                            <a href="{% url 'adminview' ticket.id %}" class="text-blue-500 hover:underline">View</a>
                            {% else %}
                            <a href="" class="text-red-500 hover:underline">close</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    

</div>

