{% extends 'admin/adminbase.html' %}
{% block content %}

<div class="mt-10 w-9/12 px-20">
        <h2 class="text-xl font-bold mb-4 text-gray-700">Uers Members</h2>

        <table class="min-w-full bg-white">
                <thead>
                    <tr>
                        <th class="py-2 px-4 border-b">ID</th>
                        <th class="py-2 px-4 border-b">Name</th>
                        <th class="py-2 px-4 border-b">Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in users %}
                    <tr>
                        <td class="py-2 px-4 border-b text-center">{{ forloop.counter }}</td>
                        <td class="py-2 px-4 border-b text-center">{{ u.account.username }}</td>
                        <td class="py-2 px-4 border-b text-center">{{ u.account.email }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>


{% endblock %}







