{% extends 'admin/adminbase.html' %}
{% block content %}

<div class="mt-10 w-9/12 px-20">
        <h2 class="text-xl font-bold mb-4 text-gray-700">Uers Members</h2>

        <table class="min-w-full bg-white">
                <thead>
                    <tr>
                        <th class="py-2 px-4 border-b">ID</th>
                        <th class="py-2 px-4 border-b">Customer Name</th>
                        <th class="py-2 px-4 border-b">Open Ticket</th>
                        <th class="py-2 px-4 border-b">In-progress Ticket</th>
                        <th class="py-2 px-4 border-b">Closed Ticket</th>
                        <th class="py-2 px-4 border-b">Total Ticket</th>
                        <th class="py-2 px-4 border-b">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for customer in customer_users %}
                    <tr>
                        <td class="py-2 px-4 border-b text-center">{{ forloop.counter }}</td>
                        <td class="py-2 px-4 border-b text-center">{{customer.username}}</td>
                        <td class="py-2 px-4 border-b text-center">{{customer.open_tickets}}</td>
                        <td class="py-2 px-4 border-b text-center">{{customer.inprogress_tickets}}</td>
                        <td class="py-2 px-4 border-b text-center">{{customer.closed_tickets}}</td>
                        <td class="py-2 px-4 border-b text-center">{{customer.total_tickets}}</td>
                        <td class="py-2 px-4 border-b text-center">
                            <a href="{% url "userdetails" customer.id %}" class="font-semibold">user view</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>


{% endblock %}







