{% extends 'admin/adminbase.html' %}
{% block content %}

<div class="mt-10 w-9/12 p-5">
        <h2 class="text-xl font-bold mb-4 text-gray-700">Staff Members</h2>

        <table class="min-w-full bg-white shadow rounded">
            <thead class="bg-gray-100">
                <tr>
                    <th class="px-4 py-2 border">ID</th>
                    <th class="px-4 py-2 border">Username</th>
                    <th class="px-4 py-2 border">Email</th>
                    <th class="px-4 py-2 border">DOJ</th>
                    <th class="px-4 py-2 border">Total tickets</th>
                    <th class="px-4 py-2 border">Action</th>
                </tr>
            </thead>

            <tbody>
                {% for s in staff_users %}
                <tr class="border-b">
                    <td class="px-4 py-2 text-center">{{ forloop.counter }}</td>
                    <td class="px-4 py-2 text-center">{{ s.username }}</td>
                    <td class="px-4 py-2 text-center">{{ s.email }}</td>
                    <td class="px-4 py-2 text-center">{{ s.date_joined }}</td>
                    <td class="px-4 py-2 text-center flex">
                        <a href="">view assigned ticket</a>
                        <a href="">open ticket</a>
                        <a href="">ticket in progress</a>
                        <a href="">close ticket</a>
                    </td>

                    <td class="px-4 py-2 text-center">
                        <a href="">Edit</a>
                        <a href="{% url 'removestaff' s.id %}">Remove</a>
                    </td>
                </tr>
                {% empty %}
               
                    <td colspan="2" class="px-4 py-4  text-gray-500">
                        No staff members found.
                    </td>
                </tr> 
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}