{% extends "staff/staffbase.html" %}
{% load static %}
{% block content %}



<div class="w-full">
    <div class="px-[10%] py-6 space-y-6 ">


        <h2 class="flex text-3xl font-semibold text-center px-[20%] text-blue-800">Welcome to your Dashboard,
            {{request.user.username}}</h2>

        <div class="flex">
            <div class="flex flex-1">
                <div class="grid w-full border border-black rounded-lg p-6 ">
                    <h3 class="text-xl font-semibold mb-4">Your Tickets</h3>
                    <p class="text-gray-600 mt-2">Total Ticket submitted : {{openticket}} + {{ticket}}</p>
                    <div class="flex justify-between mt-4">
                        <p class="text-blue-800 mt-1">Open ticket : {{openticket}}</p>
                        <p class="text-blue-800 mt-1">Closed ticket : {{closedticket}}</p>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="w-full flex flex-1">
        <div class="w-8/12">


            <div class="flex px-[10%] py-6">
                <div class=" border border-black rounded-lg p-6 mx-4 bg-purple-200">
                    <h3 class="text-xl font-semibold mb-4">Recent Activities</h3>
                    <ul class="list-disc list-inside text-black">
                        <li>Submitted a ticket on "Login Issue"</li>
                        <li>Commented on ticket #45</li>
                        <li>Closed ticket #32</li>
                    </ul>
                </div>

                <div class=" border border-black rounded-lg p-6 mx-4 bg-orange-200">
                    <h3 class="text-xl font-semibold mb-4">Recent Activities</h3>
                    <ul class="list-disc list-inside text-black">
                        <li>Submitted a ticket on "Login Issue"</li>
                        <li>Commented on ticket #45</li>
                        <li>Closed ticket #32</li>
                    </ul>
                </div>
            </div>

            <div class="flex flex-1  items-center justify-center">
                <div
                    class="grid px-[10%] py-6 border border-indigo-800 rounded-lg mx-4 bg-pink-200 text-center justify-center">
                    <h3 class="text-xl font-semibold mb-4">Profile Summary</h3>
                    <p class="text-black">Name: {{ request.user.first_name }} {{ request.user.last_name }} (username:
                        {{request.user.username}})</p>
                    <p class="text-black">Email: {{ request.user.email }}</p>
                    <p class="text-black">Member since: {{ request.user.date_joined|date:"F j, Y" }}</p>
                </div>
            </div>
        </div>


        <div class="w-4/12 flex items-center justify-center">
            <img src="{% static 'helpdog.png' %}" alt="Help Dog"
                class="h-80 w-auto border border-black rounded-lg">
        </div>
    </div>
</div>

</div>

{% endblock %}