<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div class="flex h-16 px-[5%] py-[3%] justify-between items-center">
        <div class="w-3/12 flex">
            <a href="" class="text-black font-semibold text-[180%]">Help desk Panel</a>
        </div>

       <div class="grid w-9/12">
            <div class=" text-lg  gap-5">
                
                {% if request.user.is_authenticated %}
                <a href="{% url 'admindashboard' %}" class="hover:underline border border-green bg-green-200">Dashboard</a>
                <form action="" href="" class="hover:underline inline border border-green bg-green-200">
                    <button class="inline" type="submit">Logout</button>
                </form>

                {% else %}

                <a href="">Login</a>
                <a href="">Register</a>

                {% endif %}
            </div>
            <div class="flex flex-1 text-align-right justify-end gap-8 text-lg py-2">
                <a href="">Home</a>
                <a href="">Hosting</a>
                <a href="">Domain</a>
                <a href="">Dedicated Server</a>
                <a href="">VPS</a>
                <a href="">cloud</a>
                <a href="">Server</a>
                <a href="">Transfer</a>
                <a href="">Services</a>
            </div>
       </div>
    </div>
    <hr class="border border-black w-3/4 mx-auto my-2">

    {% block content %}
    {% endblock %}