{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="flex flex-1">
    <div class="w-7/12 px-10 py-10 space-y-6">
        <h1 class="text-[280%] text-center font-bold">India's Best Web hosting Services Provider with Offers</h1>
        <h4 class="text-gray-800 mb-2 text-2xl font-bold capitalize text-blue-600">Hi, 
            {% if request.user.is_authenticated %} {{ request.user.username }}! {% else %} Guest!{% endif %}
        </h4>
        <div class="flex gap-5">
            <h1 class="text-[180%] font-bold text-center">Welcome to Help desk panel!</h1>
            {% if request.user.is_authenticated %}
            <a href="{% url 'admindashboard' %}" class="bg-slate-300 text-black px-6 py-3 rounded hover:bg-blue-700">Go to Dashboard</a>
            {% else %}
            <a href="" class="bg-slate-300 text-black px-6 py-3 rounded hover:bg-blue-700">Get Started</a>
            {% endif %}
        </div>
        <p class="text-[200%] font-semibold">Hosting from India’s No. 1 Web Hosting Company</p>
        <p class="text-xl">Trusted By Over 1,50,000 Customers ...<i class="fa-regular fa-face-smile-wink text-[150%] text-yellow-500"></i></p>

        <div class="border border-black flex rounded w-2/4">
            <input type="text" placeholder="enter your domain name here....." class="text-black px-5 py-2 ">
            <button class="outline-none text-black px-3 py-3 text-xl rounded hover:bg-slate-500 text-align-right items-center justify-end flex w-2/4"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>

        <div class="grid grid-cols-3 gap-5 text-lg text-gray-700">
            <a href="">*Enterprise Hosting Services</a>
            <a href="">*WordPress Supported</a>
            <a href="">*Money-Back Guarantee</a>
            <a href="">*Domain Registration</a>
            <a href="">*Website Builder</a>
            <a href="">*Firewall & Security</a>
            <a href="">*NVMe High-Speed Disk</a>
        </div>
    </div>
    <div class="w-5/12 p-10 flex items-center justify-center">
        <img src="{% static 'helpdog.png' %}" alt="Help Desk dog" class="rounded-2xl shadow-lg object-cover  w-[400px]" />
>
    </div>
    
</div>

{% endblock %}